# Garbage and temporary files

*.compiled
*.rsj
*.rst
*.o
*.or
*.ppu
*.blend
*.blend1
*.blend2
*~
*.a
*.lps
*.bak
*.fuse_hidden*
*.dbg
android_application
backup
lib
library
link.res
castle-engine-output/

# Logs, screenshots and to-do's

*.log
*commit*
log_*.txt
deco_20*.jpg
heap.trc
todo
pasdoc_gui

# Executable and compiled files

*.apk
*.exe
html
Release

# Linux executables

decoherence_desktop
constructor_tool
ProfilerTest

# License-unsafe files

PROPRIETARY_*
UNKNOWN_*
