*.compiled
*.rsj
*.rst
*.o
*.or
*.ppu
*.blend1
*.blend2
*~
*.apk
*.a
*.log
*.lps
*.bak
*.dbg
*.exe
*.fuse_hidden*
*commit*
log_*.txt
deco_20*.jpg
android_application
Release
decoherence_desktop
constructor_tool
backup
lib
library
PROPRIETARY_*
UNKNOWN_*
heap.trc
html
pasdoc_gui
Mazer_cut
link.res
